@import "tailwindcss";

.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}
.jet-brains-mono {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
